* {
  box-sizing: border-box;
}

body {
  background: rgba(200, 200, 200, 0.5);
}

main {
  /* flex container */
  background: turquoise;
  max-width: 90%;
  margin: 0 auto;
  height: 400px; /* block-size */
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

section {
  width: 100px; /* inline-size */
  height: 50px; /* block-size */
  background: pink;
  border: 5px solid black;
}

.sec-3 {
  /* flex item */
  background: yellow;
  align-self: flex-end;
}
